<div class="menu" id="a11y-menu">
  <div class="menu-button">
    <input type="checkbox" id="a11y-toggle" class="menu-toggle" />
    <label for="a11y-toggle">
      <img
        class="icon"
        src="/assets/images/a11y.svg"
        alt="Toggle accessibility settings"
      />
      <span>A11y</span>
    </label>
    <div class="menu-body">
      <div class="menu-container">
        <button class="menu-item">
          <input type="checkbox" id="contrast-setting" class="menu-option" />
          <span>High contrast</span>
        </button>
        <button class="menu-item">
          <input type="checkbox" id="font-size-setting" class="menu-option" />
          <span>Large text</span>
        </button>
      </div>
      <hr>
      <div id="color-filters-menu" class="menu-container">
        <button class="menu-item">
          <input
            type="radio"
            id="filter-default"
            name="color-filter"
            class="menu-option"
            value="default"
          />
          <span>Default</span>
        </button>
        <button class="menu-item">
          <input
            type="radio"
            id="filter-protanopia"
            name="color-filter"
            class="menu-option"
            value="protanopia"
          />
          <span>Protanopia</span>
        </button>
        <button class="menu-item">
          <input
            type="radio"
            id="filter-deuteranopia"
            name="color-filter"
            class="menu-option"
            value="deuteranopia"
          />
          <span>Deuteranopia</span>
        </button>
        <button class="menu-item">
          <input
            type="radio"
            id="filter-tritanopia"
            name="color-filter"
            class="menu-option"
            value="tritanopia"
          />
          <span>Tritanopia</span>
        </button>
        <button class="menu-item">
          <input
            type="radio"
            id="filter-achromatopsia"
            name="color-filter"
            class="menu-option"
            value="achromatopsia"
          />
          <span>Achromatopsia</span>
        </button>
      </div>
    </div>
  </div>
</div>
