<div class="note">
  <div class="note-header">Case study</div>
  <div class="note-content">
    This post is a <b>case study</b>. Since it is based on real-life situations
    I have experienced or witnessed, some details - most notably dates and names
    - had to be changed or anonymized to avoid legal disputes with organizations
    or disclosing identities of persons involved. That being said, there might
    be inaccuracies, however I put my best efforts to keep the merit highlighted
    in the study.
  </div>
</div>
