<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {%- seo -%} 
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url}}"> 
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url}}"> 
  <script defer data-domain="superdurszlak.dev" src="https://plausible.io/js/script.js"></script>
  <script src="/assets/js/clean-mathjax-styles.js"></script>
  <script src="/assets/js/lose-button-focus.js"></script>
  <script src="/assets/js/site-appearance.js"></script>
  {%- feed_meta -%}
</head>
