<div class="search-bar" id="search-bar" style="visibility: hidden;">
  <form action="/" method="get">
    <input
      class="search-box"
      type="text"
      id="search-box"
      name="query"
      placeholder="Enter search term"
    />
    <button type="submit" class="search-button">
      <img
        class="search-icon"
        src="{{ '/assets/images/search.svg' | relative_url }}"
        alt="Search button"
      />
    </button>
  </form>
</div>

<script>
  // Show the search bar when JavaScript is enabled
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector('#search-bar').style.visibility = 'visible';
  });
</script>