{% if include.stock %} 
{% assign stock = site.stocks | where: "name", include.stock | first %} 
{% assign stock_basedir = site.stocks_dir | append: stock.name | append: "/" %}
{% assign thumbnail = stock_basedir | append: "thumbnail.jpg" %} 
{% if stock %}
<picture>
  <source srcset="{{ mobile }}" media="(max-width: 800px)" />
  <source srcset="{{ tablet }}" media="(min-width:801px, max-width: 1600px)" />
  <a href="{{ include.url }}">
    <img src="{{ thumbnail }}" alt="{{ stock.alt }}" />
  </a>
</picture>
{% endif %}
{% endif %}
