<div class="menu" id="site-nav-menu">
  <div class="menu-button">
    <input type="checkbox" id="theme-toggle" class="menu-toggle" />
    <label for="theme-toggle">
      <img class="icon" src="/assets/images/theme.svg"/>
      <span>Themes</span>
    </label>
    <div class="menu-body">
      <div class="menu-item">
        <input
          type="radio"
          id="theme-browser"
          name="theme"
          class="theme-option"
          value="browser"
          checked
        />
        <label for="theme-browser"><span>Browser</span></label>
      </div>
      <div class="menu-item">
        <input
          type="radio"
          id="theme-light"
          name="theme"
          class="theme-option"
          value="light"
        />
        <label for="theme-light"><span>Light</span></label>
      </div>
      <div class="menu-item">
        <input
          type="radio"
          id="theme-dark"
          name="theme"
          class="theme-option"
          value="dark"
        />
        <label for="theme-dark"><span>Dark</span></label>
      </div>
      <div class="menu-item">
        <input
          type="radio"
          id="theme-light-contrast"
          name="theme"
          class="theme-option"
          value="light-contrast"
        />
        <label for="theme-light-contrast"><span>Light Hi-Contrast</span></label>
      </div>
      <div class="menu-item">
        <input
          type="radio"
          id="theme-dark-contrast"
          name="theme"
          class="theme-option"
          value="dark-contrast"
        />
        <label for="theme-dark-contrast"><span>Dark Hi-Contrast</span></label>
      </div>
    </div>
    </div>
</div>

<script src="/assets/js/site-theme.js"></script>
