<nav class="a11y-nav">
  <input type="checkbox" id="a11y-trigger" class="nav-trigger" />
  <label for="a11y-trigger">
    <span class="menu-icon">
      A11y
    </span>
  </label>

  <div class="a11y-selector">
    <div class="theme-selector">
      <span>Theme</span>
      
      <input
        type="radio"
        id="theme-browser"
        name="theme"
        class="theme-option"
        value="browser"
        checked
      />
      <label for="theme-light">Browser</label>

      <input
        type="radio"
        id="theme-light"
        name="theme"
        class="theme-option"
        value="light"
      />
      <label for="theme-light">Light</label>
  
      <input
        type="radio"
        id="theme-dark"
        name="theme"
        class="theme-option"
        value="dark"
      />
      <label for="theme-dark">Dark</label>
    </div>
  </div>
</nav>

<script src="/assets/js/site-theme.js"></script>
