<div class="menu" id="theme-menu">
  <div class="menu-button">
    <input type="checkbox" id="theme-toggle" class="menu-toggle" />
    <label for="theme-toggle">
      <img class="icon" src="/assets/images/theme.svg" alt="Toggle site theme"/>
      <span>Themes</span>
    </label>
    <div class="menu-body">
      <button class="menu-item">
        <input
          type="radio"
          id="theme-browser"
          name="theme"
          class="menu-option"
          value="browser"
          checked
        />
        <span>Browser</span>
      </button>
      <button class="menu-item">
        <input
          type="radio"
          id="theme-light"
          name="theme"
          class="menu-option"
          value="light"
        />
        <span>Light</span>
      </button>
      <button class="menu-item">
        <input
          type="radio"
          id="theme-dark"
          name="theme"
          class="menu-option"
          value="dark"
        />
        <span>Dark</span>
      </button>
    </div>
    </div>
</div>
