<div class="theme-selector">
  <input type="radio" id="theme-light" name="theme" class="theme-option" value="light" checked>
  <label for="theme-light">Light</label>
  
  <input type="radio" id="theme-dark" name="theme" class="theme-option" value="dark">
  <label for="theme-dark">Dark</label>
  
  <input type="radio" id="theme-light-contrast" name="theme" class="theme-option" value="light-contrast">
  <label for="theme-blue">Light Hi-Contrast</label>
  
  <input type="radio" id="theme-dark-contrast" name="theme" class="theme-option" value="dark-contrast">
  <label for="theme-blue">Dark Hi-Contrast</label>
</div>

<script src="/assets/js/site-theme.js"></script>
