$desktop-content-width: 70%;
$default-content-width: 80%;
$tablet-content-width: 80%;
$mobile-content-width: 90%;
$header-height: 4em;
$body-header-padding: $header-height * 1.25;

$desktop-font-size: 4.9mm;
$default-font-size: 4.3mm;

$icon-size: 1.75rem;

$thin-border: 0.1em;
$border-radius: 0.6em;
$base-margin: 1.2em;
$double-margin: $base-margin * 2;
$half-margin: $base-margin / 2;

$thumbnail-desktop: 256px;
$thumbnail-mobile: 96px;
$thumbnail-tablet: 128px;