@use "./sizing" as *;

$contrast-slight: 125%;
$contrast-boost: 150%;
$contrast-border: $thin-border;
$full-invert: invert(100%) hue-rotate(180deg);

:root {
  --primary-color: #216778;
  --primary-accent-color: #e2eaeb;
  --secondary-color: #3a3a3a;
  --background-color: #f8f8f8;
  --primary-box-color: #e2eaeb;
  --secondary-box-color: #e5e5e5;
}

html[data-theme="light"] {
  --primary-color: #216778;
  --primary-accent-color: #e2eaeb;
  --secondary-color: #3a3a3a;
  --background-color: #f8f8f8;
  --primary-box-color: #e2eaeb;
  --secondary-box-color: #e5e5e5;
}

html[data-theme="dark"] {
  --primary-color: #69c0d6;
  --primary-accent-color: #04151a;
  --secondary-color: #d6d6d6;
  --background-color: #2e2e2e;
  --primary-box-color: #04151a;
  --secondary-box-color: #1f1f1f;

  :is(img.icon, img.banner, svg.plantuml) {
    filter: invert(100%) hue-rotate(180deg) contrast($contrast-slight);
  }
}

html[data-theme="light-contrast"] {
  --primary-color: #005b74;
  --primary-accent-color: #9cf3ff;
  --secondary-color: #171717;
  --background-color: #f8f8f8;
  --primary-box-color: #e2ffff;
  --secondary-box-color: #f8f8f8;
  img.picture {
    filter: contrast($contrast-boost);
  }

  :is(img.icon, img.banner) {
    filter: contrast($contrast-boost);
  }

  svg.plantuml {
    filter: grayscale(100%) contrast($contrast-boost);
  }
}

html[data-theme="dark-contrast"] {
  --primary-color: #cbcb00;
  --primary-accent-color: #747400;
  --secondary-color: #f8f8f8;
  --background-color: #080808;
  --primary-box-color: #282800;
  --secondary-box-color: #303030;

  :is(img.picture, p img) {
    filter: contrast($contrast-boost) grayscale(100%) brightness(125%);
  }

  :is(img.icon, img.banner) {
    filter: invert(100%) hue-rotate(57deg) contrast($contrast-boost)
      saturate(250%);
  }

  svg.plantuml {
    filter: invert(100%) grayscale(100%) contrast($contrast-boost);
  }
}

:is(html[data-theme="light-contrast"], html[data-theme="dark-contrast"]) {
  code {
    border-color: var(--primary-color);
    background-color: var(--primary-box-color);
    color: var(--secondary-color);
  }

  .social-link {
    button {
      border-color: var(--primary-color);
      background-color: var(--primary-box-color);
      color: var(--primary-color);
      box-shadow: none;
    }
  }

  :is(.previous-post, .next-post) {
    border-color: var(--primary-color);
  }

  .menu-item {
    border-color: var(--primary-color);
  }

  .menu-button {
    border-color: var(--primary-color);
  }

  .pagination a {
    border-color: var(--primary-color);
  }

  li.post-listing:nth-child(2n - 1) {
    border-color: var(--primary-color);
  }

  li.post-listing:nth-child(2n) {
    border-color: var(--secondary-color);
  }

  .note {
    border-color: var(--primary-color);
  }

  .warning {
    border-color: var(--secondary-color);
  }
}

#theme-menu {
  display: none;
}
