:root {
  --primary-color: #216778;
  --primary-accent-color: #e2eaeb;
  --secondary-color: #3a3a3a;
  --background-color: #f8f8f8;
  --primary-box-color: #e2eaeb;
  --secondary-box-color: #e5e5e5;
}

html[data-theme='light'] {
  --primary-color: #216778;
  --primary-accent-color: #e2eaeb;
  --secondary-color: #3a3a3a;
  --background-color: #f8f8f8;
  --primary-box-color: #e2eaeb;
  --secondary-box-color: #e5e5e5;
}

html[data-theme='dark'] {
  --primary-color: #e2eaeb;
  --primary-accent-color: #216778;
  --secondary-color: #f8f8f8;
  --background-color: #3a3a3a;
  --primary-box-color: #e2eaeb;
  --secondary-box-color: #e5e5e5;
}