---
---

@mixin respond-to($media) {
  @if $media == desktop {
    @media (min-width: 1920px) and (orientation: landscape) {
      @content;
    }
  } @else if $media == mobile {
    @media (max-width: 1024px) and (orientation: portrait) {
      @content;
    }
  } @else if $media == tablet {
    @media (min-width: 1024px) and (max-width: 1920px) {
      @content;
    }
  }
}

$desktop-content-width: 70%;
$default-content-width: 80%;
$tablet-content-width: 80%;
$mobile-content-width: 90%;
$header-height: 4em;
$body-header-padding: $header-height * 1.25;

$desktop-font-size: 4.9mm;
$default-font-size: 4.3mm;

$primary-color: #216778;
$gray-color: #3a3a3a;
$background-color: #f8f8f8;
$default-opacity: 0.1;
$primary-transparent-color: rgba(
  $color: $primary-color,
  $alpha: $default-opacity,
);
$gray-transparent-color: rgba(
  $color: $gray-color,
  $alpha: $default-opacity,
);

$thin-border: 0.1em;
$border-radius: 0.6em;
$base-margin: 1.2em;
$double-margin: $base-margin * 2;
$half-margin: $base-margin / 2;

$thumbnail-desktop: 256px;
$thumbnail-mobile: 96px;
$thumbnail-tablet: 128px;

@import "{{ site.theme }}";

html {
  font-size: $default-font-size;

  @include respond-to(desktop) {
    font-size: $desktop-font-size;
  }
}

.wrapper {
  max-width: $default-content-width;

  @include respond-to(desktop) {
    max-width: $desktop-content-width;
  }

  @include respond-to(tablet) {
    max-width: $tablet-content-width;
  }

  @include respond-to(mobile) {
    max-width: $mobile-content-width;
  }
}

body {
  font-size: 1rem;
}

.note {
  display: flex;
  flex-direction: column;
  padding: $half-margin 0;
  position: relative;
  color: $primary-color;
  background-color: $primary-transparent-color;
  width: 100%;
  border-radius: $border-radius;
  margin-bottom: $base-margin;

  &::before {
    content: "";
    display: block;
    width: $border-radius;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  // "Note" header
  .note-header {
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 2mm;
    margin-left: $base-margin;
  }

  // Inner content
  .note-content {
    margin-left: $base-margin;
    margin-right: $half-margin;
  }
}

.warning {
  color: $gray-color;
  background-color: $gray-transparent-color;

  &::before {
    background-color: $gray-color;
  }

  // "Warning" header
  .note-header {
    color: $gray-color;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  color: $primary-color;
  position: relative;
  scroll-margin-top: $header-height;
}

h1 {
  margin-bottom: $base-margin;
  @include respond-to(mobile) {
    font-size: 1.5em;
  }
}

h2 {
  @include respond-to(mobile) {
    font-size: 1.25em;
  }
}

h2:not(.footer-heading) {
  margin-left: $base-margin;
  margin-top: $double-margin;
  margin-bottom: $base-margin;
  &::before {
    content: "";
    width: $border-radius;
    background-color: $primary-color;
    position: absolute;
    left: -$base-margin;
    top: 0;
    bottom: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

h3 {
  margin-top: $base-margin;
  margin-bottom: $half-margin;

  @include respond-to(mobile) {
    font-size: 1.12em;
  }
}

.tags {
  display: flex;
}

.tags ul {
  list-style-type: none;
  font-style: italic;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tags ul li {
  margin-left: $half-margin;
}

a {
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
}

a.tag {
  font-weight: normal;
  font-style: italic;
  color: $gray-color;
}

.site-nav a.page-link {
  font-size: 1.25em;
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
}

a:is(.post-link, .site-title) {
  font-weight: bold;
  color: $primary-color;
}

a:visited:not(.site-title) {
  color: $gray-color;
}

a:visited:is(.site-title) {
  color: $primary-color;
}

.contact-list li {
  color: $gray-color;
  &.p-name {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

.footer-col p {
  color: $gray-color;
}

.plantuml-wrapper {
  width: 100%;
  display: block;
  overflow-x: auto;
}

svg.plantuml {
  display: block;
  margin-bottom: $base-margin;
  border-width: $thin-border;
  border-radius: $border-radius;
  border-color: $primary-color;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  text-align: justify;
  text-align-last: left;
  padding-top: $body-header-padding;
}

.post-meta {
  color: $gray-color;
  font-style: oblique;
}

li.post-listing:nth-child(2n - 1) {
  background-color: $primary-transparent-color;
}

li.post-listing:nth-child(2n) {
  background-color: $gray-transparent-color;
}

li.post-listing {
  display: block;
  padding: $base-margin $border-radius;
  border-radius: $border-radius;
  margin: 0.5em 0;
}

li.post-listing h3 {
  margin-top: 0;
}

.post-card-content {
  display: flex;
}

.post-textbox {
  width: auto;
}

.post-thumbnail {
  margin: $half-margin;
  margin-right: $base-margin;
  flex-shrink: 0; /* Prevent shrinking */
  @media (max-width: 640px) {
    display: none;
  }
  @include respond-to(mobile) {
    width: $thumbnail-mobile;
    height: $thumbnail-mobile;
  }
  @include respond-to(tablet) {
    width: $thumbnail-tablet;
    height: $thumbnail-tablet;
  }
  @include respond-to(desktop) {
    width: $thumbnail-desktop;
    height: $thumbnail-desktop;
  }
}

.post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

.post-excerpt p {
  margin: 0.5em 0;
  font-style: italic;
  display: inline;

  &::after {
    content: " [...]";
    display: inline;
  }
}

:is(.post-excerpt, .tags) span {
  font-weight: bold;
  color: $primary-color;
}

li.post-listing:nth-child(2n) :is(.post-excerpt, .tags) span {
  color: $gray-color;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-grow: 1;
  width: auto;
  height: 100%;
  margin: $half-margin $base-margin;
  @include respond-to(mobile) {
    margin-right: $double-margin;
  }
}

.search-bar form {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  width: auto;
  height: 100%;
}

.search-box {
  background-color: $primary-transparent-color;
  border-color: $primary-color;
  border-radius: $border-radius;
  border-width: 0.25mm;
  border-style: solid;
  padding: 0.5em;
  font-size: 1.12em;
  color: $gray-color;
  margin-right: 0.5em;
  width: 100%;
  &::placeholder {
    color: $primary-color;
    font-style: italic;
  }
}

.search-button {
  display: inline-flex;
  background-color: transparent;
  border-style: none;
  align-items: center;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.search-icon {
  height: 3em;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  max-height: $header-height;
  width: 100%;
  z-index: 1000;
  background-color: $background-color;
  border-width: 0;
  border-bottom-width: 0.25em;
  border-color: $primary-color;
  border-style: solid;
}

.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 1.5em;

  @include respond-to(mobile) {
    font-size: 1.25em;
  }
}

table {
  @include respond-to(mobile) {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

thead tr th {
  color: $primary-color;
  font-weight: bold;
  background-color: $primary-transparent-color;
  border-color: $primary-color;
  border-width: $thin-border;
  border-style: solid;
}

tbody tr td {
  color: $gray-color;
  border-color: $gray-color;
  border-width: $thin-border;
  border-style: solid;
}

tbody tr:nth-child(2n) {
  background-color: $gray-transparent-color;
}

.stock-photo {
  display: block;
  width: 100%;
  margin-bottom: $double-margin;
}

.stock img {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: $border-radius;
  border-width: $thin-border;
  border-color: $primary-color;
  border-style: solid;
}

.stock-photo-credit {
  font-size: 0.9em;
}

blockquote {
  color: $gray-color;
  border-left-color: $primary-color;
  border-left-width: $border-radius;
  border-radius: $border-radius;
}