---
---
$content-width: 75%;
$primary-color: #216778;
$gray-color: #3a3a3a;
$note-color: $primary-color;
$default-opacity: 0.1;
$warning-color: $gray-color;
$border-radius: 3mm;
$base-margin: 6mm;
$double-margin: $base-margin * 2;
$half-margin: $base-margin / 2;

@import "{{ site.theme }}";

.note {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    color: $note-color;
    background-color: rgba($color: $note-color, $alpha: $default-opacity);
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: $base-margin;
  
    &::before {
      content: '';
      display: block;
      width: $border-radius;
      background-color: $note-color;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  
    // "Note" header
    .note-header {
      font-weight: bold;
      color: $note-color;
      margin-bottom: 2mm;
      margin-left: $base-margin;
    }
  
    // Inner content
    .note-content {
      margin-left: $base-margin;
      margin-right: $half-margin;
    }
  }

  .warning {
    color: $warning-color;  
    background-color: rgba($color: $warning-color, $alpha: $default-opacity);
    
      &::before {
        background-color: $warning-color;
      }
    
      // "Warning" header
      .note-header {
        color: $warning-color;
      }
    }

    :is(h1, h2, h3, h4, h5, h6) {
      font-weight: bold;
      color: $primary-color;
      position: relative;
    }

    h2:not(.footer-heading) {
      margin-left: $base-margin;
      &::before {
        content: '';
        width: $border-radius;
        background-color: $primary-color;
        position: absolute;
        left: - $base-margin;
        top: 0;
        bottom: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }

    h1 {
      margin-bottom: $double-margin;
    }

    h2:not(.footer-heading) {
      margin-top: $double-margin;
      margin-bottom: $base-margin;
    }

    h3 {
      margin-top: $base-margin;
      margin-bottom: $half-margin;
    }

    .tags {
      display: flex;
    }
    .tags span {
      font-weight: bold;
      color: $primary-color;
      margin-right: $half-margin;
    }

    .tags ul {
      list-style: none;
      font-style: italic;
      padding: 0;
      margin: 0;
      display: flex;
    }
    
    .tags ul li {
      margin-right: $half-margin;
    }
    
    .tags ul li:not(:last-child)::after {
      content: "|";
      margin-left: $half-margin;
    }

    a {
      font-weight: bold;
      color: $primary-color;
    }

    a:is(.post-link, .page-link, .site-title) {
      font-weight: bold;
      color: $primary-color;
    }

    a:visited {
        color: $gray-color;
    }

    .p-name {
      color: $gray-color;
    }

    .footer-col p {
      color: $gray-color;
    }

    svg.plantuml {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .page-content {
      text-align: justify;
      text-align-last: left;
    }