---
layout: default
---

<div class="home">
  
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% include js-required-warning.html %}

  <img src="https://wallpapers.com/images/featured/rainbow-pictures-povwnf60sljd1snu.jpg"/>
  <img src="https://www.aoa.org/AOA/Images/Patients/Eye%20Conditions/Color_Deficiency_Ishihara_Test_AdobeStock_114210620.jpg"/>

  {% include search-feed.html %}

  <p class="rss-subscribe">
    subscribe <a href="{{ "/feed.xml" | relative_url }}">
      via RSS <svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#rss"></use>
      </svg>
    </a>
  </p>
</div>