---
layout: default
---

{% assign separator = '-' %}
{% assign word_count = content | strip_html | strip_newlines | split: ' ' | size %}
{% assign fast_wpm = 300 %}
{% assign slow_wpm = 180 %}
{% assign fast_read = word_count | divided_by: fast_wpm %}
{% assign slow_read = word_count | divided_by: slow_wpm %}
{% assign read_duration = fast_read | append: separator | append: slow_read | split: separator | uniq | join: separator %}

<h1>{{ page.title }}</h1>
<p><i> Posted on {{ page.date | date: '%a, %Y-%m-%d' }} | {{ read_duration }}m to read</i></p>

{{ content | toc }}